@import '../variables.css';

/* handle request button */
.big-button1{
    background: var(--purple);
    border:none;
    border-bottom: .6rem solid rgba(var(--purple),10%);
    color: white;
    font-weight: bold;
    font-size: var(--l-size);
    margin-bottom: var(--xl-size);
    padding: 2.4rem;
    width: 100%;
}

.big-button1:disabled{
    opacity: .5;
}
/* Remove all button */
.button{
    background-color: var(--purple);
    border: none;
    border-bottom: .3rem solid rgba(var(--purple),10%);
    color: white;
    font-weight: 500;
    padding: var(--s-size);
}

.button--link{
    background: none;
    border: none;
    color: var(--off-white);
    padding: 0;
}